<!-- {% extends "templates/web.html" %}

{% block content %}
<section class="section section-padding-top section-padding-bottom">
	<div class="container">
		<div id="beam"></div>
	</div>
</section>

<script>
	window.csrf_token = '{{ csrf_token }}'
</script>
{% endblock %}

{%- block style -%}
<style>
	.navbar {
		display: none;
	}

	.web-footer {
		display: none;
	}
</style>
{% endblock %} -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Beam</title>
	</head>
	<body>
		<section class="section section-padding-top section-padding-bottom">
			<div class="container">
				<div id="beam"></div>
			</div>
		</section>
		<script>
			window.csrf_token = "{{ csrf_token }}"
		</script>
		<script type="module" src="./index.js"></script>
	</body>
</html>
