{% extends "templates/web.html" %}

{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>Beam</title>
<meta name="description" content="AgriTheory Beam">
<link rel="shortcut icon" href="/beam/icon/beam_favicon.svg" type="image/x-icon">
<meta name="theme-color" content="#7B4112">
{% endblock %}

{% block content %}
<div>
	<div id="beam"></div>
</div>
<link rel="stylesheet" href="/beam/index.css">
<script>
	window.csrf_token = '{{ csrf_token }}'
	frappe.user = '{{ user }}'
</script>
{% endblock %}

{%- block style -%}
<style>
	body {
		margin: 0px;
	}
	.navbar {
		display: none;
	}
	.web-footer {
		display: none;
	}
	.container {
		padding-left: .5rem;
		padding-right: .5rem;
	}
	#beam {
		all: unset;
	}
</style>
{% endblock %}
